
html, body {
    margin: 0;
    background-color: #2f4f30 ;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta {
    position: relative;
    width: 130px;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #dealer-cartas {
    height: 220px;

}
